header{
  text-align: center;
  background-image: linear-gradient(to right, blue, cyan, blue);
  padding: 10px 0;
  border: 1px solid black;
}

h1{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  margin: 0;
  color: orange;
  text-shadow: black 2px 2px 2px;
}

main{
  margin: 0 auto;
  background-color: rgb(255, 203, 106);
  border: 1px solid black;
}

#form{
  width: 400px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-image: linear-gradient(to right, grey, white, grey);
  box-shadow: black 2px 2px 5px;
}

#formLabel{
  font-size: 30px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#Select{
  text-align: center;
}

#button{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  background-color: cyan;
  color: blue;
  box-shadow: black 2px 2px 5px;
  transition: 0.2s;
}

#button:hover{
  color: orange;
}

#button:active{
  color: blue;
}

article{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.card{
  margin: 10px auto;
  min-width: 300px;
  max-width: 500px;
  border-color: black;
}

Img{
  height: 400px;
  object-fit: contain;
  cursor: pointer;
  transition: 0.2s;
}

Img:hover{
  opacity: 0.7;
  border: 2px solid red;
}

Img:active{
  opacity: 0.5;
  border: 2px solid black;
}

.modal{
  text-align: center;
  font-size: 30px;
}

.selectedTitle{
  font-size: 50px;
  width: 750px;
  margin: 0 auto;
}

.picDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.selectedImage{
  object-fit: contain;
}

footer{
  min-width: 1500px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, blue, cyan, blue);
  border: 1px solid black;
}

footer p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 10px;
}
