header{
  width: 1500px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, grey, white, grey);
  padding: 10px 0;
  border: 1px solid black;
}

h1{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  margin: 0;
}

main{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 1000px;
  margin: 0 auto;
  background-color: rgb(252, 205, 118);
  border: 1px solid black;
}

article{
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  background-color: lightblue;
  margin: 10px;
}

h2{
  font-family: Helvetica, sans-serif;
  font-size: 40px;
  margin: 0;
}

article p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.beastPic{
  width: 300px;
  height: 300px;
  object-fit: cover;
}

footer{
  width: 1500px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, grey, white, grey);
  border: 1px solid black;
}

footer p{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin: 10px;
}
