header{
  text-align: center;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, green, yellow, orange, red);
  padding: 10px 0;
  border: 1px solid black;
}

h1{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 70px;
  margin: 0;
  color: red;
  text-shadow: black 2px 2px 2px;
}

main{
  margin: 0 auto;
  background-color: cyan;
  border: 1px solid black;
}

#form{
  width: 400px;
  margin: 10px auto;
  text-align: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  background-image: linear-gradient(to right, grey, white, grey);
  box-shadow: black 2px 2px 5px;
}

#formLabel{
  font-size: 30px;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
}

#Select{
  text-align: center;
  border: 2px solid black;
}

#button{
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-size: 20px;
  background-color: red;
  color: white;
  border: 1px solid black;
  box-shadow: black 2px 2px 5px;
  margin: 5px;
  transition: 0.2s;
}

#button:hover{
  color: black;
  opacity: 0.7;
}

#button:active{
  color: white;
  opacity: 1;
}

article{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
}

.card{
  margin: 10px auto;
  min-width: 420px;
  max-width: 500px;
  border-color: black;
  background-image: linear-gradient(to right, rgb(200, 200, 200), white, rgb(200, 200, 200));
}

.cardImg{
  height: 400px;
  margin: 10px auto;
  object-fit: contain;
  cursor: pointer;
  transition: 0.2s;
}

.cardImg:hover{
  opacity: 0.7;
  border: 2px solid red;
}

.cardImg:active{
  opacity: 0.5;
  border: 2px solid black;
}

.cardBody{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.modal{
  text-align: center;
  font-size: 30px;
}

.selectedTitle{
  font-size: 50px;
  width: 750px;
  margin: 0 auto;
}

.picDiv{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.selectedImage{
  object-fit: contain;
}

footer{
  min-width: 1500px;
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(to right, red, orange, yellow, green, blue, green, yellow, orange, red);
  border: 1px solid black;
}

footer p{
  font-family: 'Times New Roman', Times, serif;
  color: red;
  font-size: 20px;
  margin: 10px;
}
